
{% extends 'base.html' %}

{% load text_utils %}

{% block content %}
<div class="container container-main">
  {% include 'includes/messages.html' %}
  <div class="row">
    <div class="col-md-12">
      <h2>Histórico</h2><hr>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <div class="row">
        {% for obj in closed_object_list %}
        <div class="col-md-12">
          <h3>
            <a target="_blank" href="{% url 'trades:edit' obj.pk %}">{{ obj.symbol }}{% if obj.close_date %}  —  {{ obj.close_date|date:'Y-m-d \à\s H\hi' }}{% endif %}</a>
          </h3>
        </div>
        {% if obj.image %}
        <div class="col-md-12" style="margin-bottom:15px;">
          <a target="_blank" href="{{ obj.image.url }}"><img class="img-responsive img-thumbnail" src="{{ obj.image.url }}"></a>
        </div>
        {% endif %}
        {% if obj.notes %}
        <div class="col-md-12" style="margin-bottom:5px;">
          {{ obj.notes|markdown|safe }}
        </div>
        {% endif %}
        <div class="col-md-12">
          <table class="table table-bordered table-striped table-condensed">
            <tbody>
              <tr>
                <th width="25%" class="text-right">#</th>
                <td><a target="_blank" href="{% url 'trades:edit' obj.pk %}">{{ obj.symbol }}{% if obj.close_date %}  —  {{ obj.close_date|date:'Y-m-d \à\s H\hi' }}{% endif %}</a></td>
              </tr>
              {% if obj.result != Trade.RESULT_NONE %}
              <tr>
                <th class="text-right">Result</th>
                <td>{{ obj.get_result_display }}</td>
              </tr>
              {% endif %}
              <tr>
                <th class="text-right">Status</th>
                <td>{{ obj.get_status_display }}</td>
              </tr>
              <tr>
                <th class="text-right">Cycle</th>
                <td>{{ obj.get_market_cycle_display }}</td>
              </tr>
              <tr>
                <th class="text-right">Type</th>
                <td>{{ obj.get_optype_display }}</td>
              </tr>
              <tr>
                <th class="text-right">Strategy</th>
                <td>{{ obj.strategy }}</td>
              </tr>
              {% if obj.open_error %}
              <tr>
                <th class="text-right">Open Error</th>
                <td><span class="text-error">{{ obj.open_error }}</span></td>
              </tr>
              {% endif %}
              {% if obj.conduction_error %}
              <tr>
                <th class="text-right">Condution Error</th>
                <td><span class="text-error">{{ obj.conduction_error }}</span></td>
              </tr>
              {% endif %}
              {% if obj.close_error %}
              <tr>
                <th class="text-right">Close Error</th>
                <td><span class="text-error">{{ obj.close_error }}</span></td>
              </tr>
              {% endif %}
            </tbody>
          </table>
          <p style="font-style: italic; font-size: 80%; color: #999;">
            Última atualização em {{ obj.updated|date:'d/m/Y \à\s H\hi' }}.<br>
            ————— <br><br><br>
          </p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="col-md-4">
      <!-- <h3>Sidebar</h3> -->
    </div>
  </div>
</div>
{% endblock content %}
